<app-header></app-header>
<div class="container-fluid">
  <ng-container *ngIf="imageArray.length <1">
  <div class="row" >
    <div class="col-xs-12"><p>Photos are first thing member look in your profile. Add multiple photos to get more matches.</p></div>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <label for="upload">
      <input type="file" id="upload" style="display:none" accept="image/*" multiple  (change)="selectedImages($event)"> Gallery
</label>
     </button>
  <button mat-menu-item>   <label for="upload1">
    <input type="file" id="upload1" style="display:none" accept="image/*" capture="user" (change)="selectedImages($event)"> Camera
</label></button>
  <button mat-menu-item (click)="isCamera=!isCamera"> Web Camera
</button>
</mat-menu>
</ng-container>
<ng-container *ngIf="imageArray.length >0">
<app-list-photos [listPhotos]="imageArray" (deleteImgEmit)="removeImage($event)"></app-list-photos>
</ng-container>
 <app-camera *ngIf="isCamera" (pictureTaken)="handleImage($event)"></app-camera>


<div class="row">
<div class="snapshot col-xs-12"  *ngIf="webcamImage">
	<img [src]="webcamImage.imageAsDataUrl" />
</div>
</div>
</div>

